html {
    padding-bottom: 50px!important;
}

.divider {
    margin-top: 32px;
}

.mb-16 {
    margin-bottom: 16px;
}

.btn-primary {
    border-color: #343a40!important;
    background-color: #343a40!important;
}

.table .thead-dark th {
    background-color: #343a40!important;
}

.table-data img.img-profile {
    width: 100px!important;    
}

.table .empty-row {
    text-align: center;
    font-weight: bold;
    color: #dc3545;
}